<a href="https://colab.research.google.com/github/EduCamelo/Aulas_Senac/blob/main/Atividade04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
s = "viva o python"
for ch in s:
  print("Oi")

Oi
Oi
Oi
Oi
Oi
Oi
Oi
Oi
Oi
Oi
Oi
Oi
Oi

In [3]:
s = "viva o python"
for ch in s[3:8]:
  print("Oi")

Oi
Oi
Oi
Oi
Oi

In [ ]:
1z = 0
par = 0
impar = 0
while z == 0:
  for x in range(10):
    y = float(input("Digite um número: "))
    if( y % 2) == 0:  par += 1
    else: impar += 1
    z += 1
    print('----------------------------------------------')
    print('a quantidade total de pares é: ', par)
    print('a quantidade total de impares é: ', impar)
    print('----------------------------------------------')

In [ ]:
1x = 0
z = 0
v = 0
while x < 10:
  y = float(input('Digite um número: '))
  if( y % 2) == 0:  z = z + 1
  else: v = v + 1
  x += 1
print('a quantidade total de pares é: ', z)
print('a quantidade total de impares é: ', v)

In [ ]:
z = 0
for x in range(10):
  y = float(input("Digite um número: "))
  while (y % 2) == 0:
    z += 1
    y += 1

print('A quantidade total de pares é: ' ,z)
print('a quantidade total de impares é: ', (x + 1) - z)

In [ ]:
z = 0
v = 0
for x in range(10):
  y = float(input('Digite um número: '))
  if( y % 2) == 0: z = z + 1
  else: v = v + 1

print('a quantidade total de pares é: ', z)
print('a quantidade total de impares é: ', v)

In [ ]:
x = input('Qual é o dia da semana? ').lower()
if (x == 'domingo') or (x == 'sabado') or (x == 'sábado'):
  print('Pega a pipoca e bora ver uma netflix.')
else: print('Levanta da cama e bora trabalhar!')

In [6]:
c = int(input('Digite um número qualquer: '))
for x in range(c):
 if (x % 2) == 0:
   x = [x]
   print(x)
 else: 
   impar = x * x
   print(impar)

Digite um número qualquer: 10
[0]
1
[2]
9
[4]
25
[6]
49
[8]
81

In [8]:
x = input("Digite uma palavra qualquer: ")
for ind, letra in enumerate(x):
  if letra in 'aAàáâ' : print(ind, letra)
  elif letra in 'eEéê' : print(ind, letra)
  elif letra in 'iíìI' : print(ind , letra)
  elif letra in 'oOôõ' : print(ind , letra)
  elif letra in 'uU' : print(ind , letra)

Digite uma palavra qualquer: Eduardo Camelo
0 E
2 u
3 a
6 o
9 a
11 e
13 o

In [9]:
for nome in ['Reginaldo', 'Gisele Pintcher', 'Scoob', 'Mariene', 'Zezinho', 'Cibele', 'Suely']:
  convite=('Oi, ' + nome + '! Por favor, venha para o sábado pet em minha casa!')
  print(convite)

Oi, Reginaldo! Por favor, venha para o sábado pet em minha casa!
Oi, Gisele Pintcher! Por favor, venha para o sábado pet em minha casa!
Oi, Scoob! Por favor, venha para o sábado pet em minha casa!
Oi, Mariene! Por favor, venha para o sábado pet em minha casa!
Oi, Zezinho! Por favor, venha para o sábado pet em minha casa!
Oi, Cibele! Por favor, venha para o sábado pet em minha casa!
Oi, Suely! Por favor, venha para o sábado pet em minha casa!

In [10]:
x = ['abacaxi','chuchu', 'mamão','morango','laranja']
if 'morango' in x:
  print('Sim, o morango está nesta lista.')
else:
  print('Não tem morango na lista')

Sim, o morango está nesta lista.

In [12]:
x = 100
while x <= 150:
  if (x % 2) == 0:
    print(x, 'é par')
  x += 1

100 é par
102 é par
104 é par
106 é par
108 é par
110 é par
112 é par
114 é par
116 é par
118 é par
120 é par
122 é par
124 é par
126 é par
128 é par
130 é par
132 é par
134 é par
136 é par
138 é par
140 é par
142 é par
144 é par
146 é par
148 é par
150 é par

In [14]:
temperatura = 40
while temperatura > 25:
  print(temperatura,'°c')
  temperatura = temperatura - 1

40 °c
39 °c
38 °c
37 °c
36 °c
35 °c
34 °c
33 °c
32 °c
31 °c
30 °c
29 °c
28 °c
27 °c
26 °c

In [15]:
contador = 0
while contador < 100:
  print(contador)
  contador += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [29]:
x = []
y = 4
while y <= 20:
  if (y % 2) == 0:
    x.append(y)
    print(x)
  y += 1

[4]
[4, 6]
[4, 6, 8]
[4, 6, 8, 10]
[4, 6, 8, 10, 12]
[4, 6, 8, 10, 12, 14]
[4, 6, 8, 10, 12, 14, 16]
[4, 6, 8, 10, 12, 14, 16, 18]
[4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
temperatura = float(input('Qual a temperatura?'))
if temperatura > 30:
  print('Vista roupas leves.')
else: 
  print('Busque seus casacos')

Qual a temperatura?19
Busque seus casacos

In [31]:
s = "Educação não transforma o mundo. Educação muda pessoas. Pessoas transformam o mundo."
print(s.count('s'))

8

In [32]:
x = 0
s = "Educação não transforma o mundo. Educação muda pessoas. Pessoas transformam o mundo."
for letra in s:
  if letra in 'sS': x += 1
print(x)

8

In [34]:
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
print(lista[5:])

['f', 'g', 'h']

In [43]:
dict1 = {'a':1,'b':2} 
dict2 = {'c':4,'d':5}
dict3 = {'a':4, 'b':5}
print(dict3)

{'a': 4, 'b': 5}

In [44]:
for um_valor in range(10):
 print(um_valor)

0
1
2
3
4
5
6
7
8
9

In [45]:
for um_char in "Venha para a festa":
 print(um_char)

V
e
n
h
a

p
a
r
a

a

f
e
s
t
a